$spacer1: $spacer * 0.25;
$spacer2: $spacer * 0.5;
$spacer3: $spacer * 0.75;
$spacer4: $spacer;
$spacer5: $spacer * 1.125;
$spacer6: $spacer * 1.5;
$spacer7: $spacer * 1.75;
$spacer8: $spacer * 2;
$spacer9: $spacer * 2.75;
$spacer10: $spacer * 3;

$fz1: $font-size-base * 0.75;
$fz2: $font-size-base * 0.875;
$fz3: $font-size-base;
$fz4: $font-size-base * 1.5;
